/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2021, 1:42:01 PM
    Author     : NGUYEN VAN LUNG SE140193
*/



/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin-top: 1px;
    background-color: #F8D648;
    text-align: center;
    height: 44px;
}

li {
    list-style: none;
}


/* header */

nav {
    background: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 16px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}



.header {
    max-width: 100%;
    margin: auto;
}

.menu-bar-content{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-bar-content ul li:nth-child(1) a {
    color: #F8D648;
    font-size: 15px;
    margin: 30px;
}

.menu-bar-content ul li:nth-child(4) button {
    padding: 3px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.menu-bar-content > ul > li:nth-child(4) {
    position: relative;
    margin: 30px;
}

.menu-bar-content ul li:nth-child(4) input {
    border: none;
    background: #fff;
    padding: 4px;
    outline: none;
    border-radius: 12px;
}


.menu-bar-content ul li:nth-child(2) a {
    text-decoration: none;
    color: #F8D648;
    padding: 0 15px;
    font-size: 15px;
    margin: 30px;

}

.menu-bar-content ul li:nth-child(3) a {
    text-decoration: none;
    color: #F8D648;
    padding: 0 15px;
    font-size: 15px;
    margin: 30px;

}


nav ul li:nth-child(1):hover a {
    color: #fff;
}

nav ul li:nth-child(2):hover a {
    color: #fff;
}

nav ul li:nth-child(3):hover a {
    color: #fff;
}

nav ul li:nth-child(5):hover a {
    color: #fff;
}

nav ul li:nth-child(5):hover i {
    color: #fff;
}


/* Menu dien thoai */

.menu-bar-content ul li {
    position: relative;
}

.menu-dienthoai {
    position: absolute;
    background-color: #2d70bd;
    width: auto;
    height: auto;
    display: none;
    border-radius: 5px;
    left: 0;
    top: 100%;
    padding: 12px;
    z-index: 10;
}

.menu-dienthoai ul {
    display: flex;
    flex-direction: column;
}

.menu-dienthoai ul li {
    padding: 6px;
}

.menu-bar-content ul li:hover .menu-dienthoai {
    display: block;
}

.menu-bar-content .menu-dienthoai ul li :hover {
    color: rgb(250, 246, 8);
}


/* Menu phụ kiện */

.menu-phukien {
    position: absolute;
    background-color: #2d70bd;
    width: 350px;
    height: auto;
    border-radius: 5px;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}

.menu-phukien ul {
    display: flex;
    flex-direction: column;
}

.menu-phukien ul li {
    padding: 6px;
}

.menu-bar-content ul li:hover .menu-phukien {
    display: block;
}

.menu-bar-content .menu-phukien ul li :hover {
    color: rgb(250, 246, 8);
}

/*Cart icon*/
#cart {
    font-size: 12px;
    margin-left: 0.3rem;

}
#cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin: 30px;
    padding: 3px;
}

#cart:hover {
    border-color: #000;
}

/*Slider*/

.slider {
    padding: 20px 0;
    height: 350px;
}

.slider-contain {
    display: flex;
    justify-content: space-between;
    margin: 0 105px;
}

.slider-contain-left {
    width: 70%;
}

.slider-contain-left-top {
    width: 100%;
    height: auto;
    position: relative;
}

.slider-contain-left-top:hover i {
    opacity: 1;
}

.slider-contain-left-top img {
    width: 100%;
    height: 298px;
    object-fit: cover;
    display: flex;
    flex-wrap: nowrap;
}

.slider-contain-right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
}

.slider-contain-right li {
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 0.5px;
}

.slider-contain-right img {
    height: 170px;
    width: 170px;

}

.slider-contain-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}

.slider-contain-left-bottom li {
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 16px;
    position: relative;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    outline: none;
}

.slider-contain-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-contain-left-bottom li .active {
    border-top: 4px solid #f1d04b;
}

body {
    min-width: 1024px;
}

.slider-contain-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-contain-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(238, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}
#Empty-List{
    margin-top: 30px;
}   
/*Details Product Page*/
/* Product */
.row{
    display: flex;
}
.row .col-1{
    width: 50%;
}
.row .col-2{
    width: 40%;
}
.col-1 img{
    width: 500px;
    height:400px;
    margin-top: 30px;
    margin-left: 160px;
}
.col-2 h2, h4{
    margin-right: 105px;
    margin-top: 30px;
    font-weight: normal;

}
.col-2 h4{
    font-size: 14px;
}

.product-list img{
    padding-left: 40px;
}

b {
    font-size: 30px;
}

.detail {
    margin: 0 8px 30px 40px;
    color: white;
    background-color: #217ecf;
    height: 28px;
    width: 83px;
    border-radius: 4px;
    border: none;
}

.order {
    color: white;
    background-color: rgb(233, 158, 18);
    height: 28px;
    width: 120px;
    border-radius: 4px;
    border: none;
    margin-top: 14px
}

.order:hover {
    background-color: rgb(145, 97, 9);;
}

.detail:hover {
    background-color: #195c96;
}

.order, .detail:hover {
    cursor: pointer;
}

.item {
    float:left;
    width: 380px; 
    display:block;
    padding-top: 37px;
    padding-right: 43px;
    border: 1px solid silver;
    margin-right: 50px;
    background-color: whitesmoke;

}

.product-list{
    padding-top: 45px;
    padding-left: 60px;
}

.item-body {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 16px;
}

.item-title {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-left: 30px;
}

.item img {
    padding-top: 20px;
}
/* 

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display:flex ;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
.cart-info img{
    height: 100px;
    width: 100px;
    margin-right: 10px;

}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:3px solid #ff523b;
    width: 100%;
    max-width: 100%;
}
td:last-child{
    text-align: right; 
}
th:last-child{
    text-align: right;
}
.cart-info p{
    display: none;
}
.btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
.btn-continue {
    background-color: #FFC125;
}

.btn-continue:hover {
    background-color: black;
    cursor: pointer;
    transition: .3s;
}
.btn-checkout {
    background-color: #FFC125;
}

.btn-checkout:hover {
    background-color: black;
    cursor: pointer;
    transition: .3s;
    
}
.btn-clear {
    background-color: #FFC125;
    text-align: right;
}

.btn-clear:hover {
    background-color: black;
    cursor: pointer;
    transition: .3s;

}

.mg{
    margin-left: 1250px ;
}
.mg1{
    margin-left: 1436px ;
}
}*/