*{
    padding: 0px;
    margin: 0px;
    font-family: Bradley Hand, cursive;
    box-sizing: border-box;
}
header{
    background-color: black;
    min-height: 70px;
    padding: 15px;
    font-size: 80px;
    color: #FFC125;
}
main{
    min-height: 300px;
    padding: 7.5px 15px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
h3{
    color: black;
    font-size: 26px;
    margin-bottom: 30px;
}
.input-box{
    margin-bottom: 10px;
}
.input-box input{
    font-size: 16px;
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    border-radius: 10px;

}
.btn-box{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;

}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 10px;
    background-color: #FFC125;
    color: white;
    border: none;
    outline: none;
}
.backStore{
    color: black;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}